<html>
    <body>
        <h2> Conversations List</h2>
        <p>
            Welcome User!! <img src="/img/cat.jpeg" />
            <button><a href="/usersList"> add convo </a></button> <!-- button connects to router then to controller f(x)-->
            <button><a href="/settings">settings </a></button>
        </p>
        <p>
            **display convo list db here like the students list
        </p>
    </body>
</html>

