<body>
<style>
body {
  background-image: url("/img/sparkUser.png") ;
}
</style>

<h3>Register</h3>
<form action="/register" method="post">
    User Name
    <input class="form-control" type="text" name="name" id="name">
    Password
    <input class="form-control" type="passowrd" name="password" id="password">
    <br>
    <input type="checkbox" required> <a href="/termsOfService">Terms Of Service</a>
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
    <br>

</form>
</body>