<html>
    <body>
        <style>
body {
  background-image: url("/img/sparkUser.png") ;
}
</style>
        <button><a href="/"> Back to login page </a></button>
            <h3> Terms of Service</h3>
            <p>
                By clicking agree, you acknowledge that walmart has access to the information on this app. Lots of legal jargen...
                 Basically don't do anything inappropriate and be respectful of others using this application, yada yada yada.
                 Any images used in this application are not owned of liscensed by the creator of this api. 
                 All rights over said images are that of the creator alone.
            </p>
    </body>
</html>