<html>
    <body>
        <a href="/login"> login page </a>
            <h3> Terms of Service</h3>
            <p>
                By clicking agree, you acknowledge that walmart has access to the information on this app. Lots of legal jargen...
                 Basically don't do anything inappropriate and the messages don't delete here, yada yada yada.
            </p>
    </body>
</html>
